@model DuAnCuoiKhoa.Models.SanPham

@{
    ViewBag.Title = "ChinhSuaSP";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
    <style>
        #txtThemMoi {
            background-color: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 4px;
            color: #66615b;
            line-height: normal;
            font-size: 14px;
            width: 300px;
        }

        #ID_ThuongHieu {
            background-color: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 4px;
            color: #66615b;
            line-height: normal;
            font-size: 14px;
            width: 300px;
        }

        #ID_DanhMuc {
            background-color: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 4px;
            color: #66615b;
            line-height: normal;
            font-size: 14px;
            width: 300px;
        }

        #ThongTinChiTiet {
            background-color: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 4px;
            color: #66615b;
            line-height: normal;
            font-size: 14px;
            width: 300px;
            height: 300px;
        }

        #formGioiThieu {
            float: right;
            margin-top: -920px;
            width: 800px;
        }

        #GioiThieu {
            height: 400px;
        }

        .btnBackToList {
            margin-left: 16px;
        }
    </style>
}

<h2 style="text-align:center;">Chỉnh sửa sản phẩm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TenSanPham, "Tên sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control", @id = "txtThemMoi" } })
                @Html.ValidationMessageFor(model => model.TenSanPham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_DanhMuc, "Danh mục sản phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_DanhMuc")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThuongHieu, "Thương hiệu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_ThuongHieu")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Avatar, "Avatar", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ha" style="width:300px;" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaGoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaGoc, new { htmlAttributes = new { @class = "form-control", @id = "txtThemMoi" } })
                @Html.ValidationMessageFor(model => model.GiaGoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GiaKhuyenMai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaKhuyenMai, new { htmlAttributes = new { @class = "form-control", @id = "txtThemMoi" } })
                @Html.ValidationMessageFor(model => model.GiaKhuyenMai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">               
                    @*<input name="NgayDang" value="@Model.NgayDang.Value.ToString("dd/MM/yyyy")" id="txtThemMoi" type="date" />*@
                    @Html.EditorFor(model => model.NgayDang, new { htmlAttributes = new {@class = "form-control", @type="date" ,@id = "txtThemMoi"} })
                    @Html.ValidationMessageFor(model => model.NgayDang, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.ThongTinChiTiet, "Thông tin chi tiết", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("ThongTinChiTiet")
                @Html.ValidationMessageFor(model => model.ThongTinChiTiet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="formGioiThieu">
            @Html.LabelFor(model => model.GioiThieu, "Giới thiệu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<textarea id="txtGioiThieu" name="GioiThieu"></textarea>*@
                @Html.TextAreaFor(model => model.GioiThieu, new { htmlAttributes = new { @class = "form-control"}, id = "txtGioiThieu" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("DanhSachSP","TrangQuanTri")"><input type="submit" value="Về trang danh sách sản phẩm" class="btn btn-primary btnBackToList" /></a>
    @*@Html.ActionLink("Quay về trang danh sách", "DanhSachSP")*@
</div>
